* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f5f7;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #e8ca5255;
  color: rgba(16, 13, 13, 0.638);
  border: none;
  border-radius: 5px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  background-color: #65653b22;
  border-radius: 8px;
  width: 30%;
  padding: 10px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.column h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgba(16, 13, 13, 0.638);
}

.task-list {
  list-style: none;
  padding: 0;
  overflow-y: auto;
}

.task {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: grab;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.task.dragging {
  opacity: 0.5;
}

.column:hover {
  background-color: #65653b3c;
}

.column:active {
  background-color: #65653b4f;
}

.drag {
  background-color: rgb(255, 0, 64);
}
.over {
  border-top: 2px solid #4b59617d;
}
.fa.fa-trash-o {
  font-size: 20px;
  float: right;
}
.right {
  float: right;
  display: none;
}
.right.active {
  display: block;
}
